.BlogContent{
    border: 2px solid red;
    width: 1440px;
    display: flex;
    justify-content: space-between;
}
.LeftSideBlogContainer{
    border: 2px solid green;
}
.LeftSideBlogContent{
    border: 2px solid purple;
    width: 817px;
    padding: 10px;
}
.LeftSideBlogContent img{
    width: 100%;
}
.LeftSideBlogContent h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.BlogContentInfoDescription{
    font-size: 15px;
    margin-bottom: 30px;
    color: gray;
}
.LeftSideBlogContent button{
    border: none;
    border-bottom: 2px solid;
    font-size: 16px;
}
.LeftSideBlogContentInfo{
    border: 2px solid green;
    display: flex;
    gap: 3rem;
    margin-bottom: 15px;
}
.BlogContentInfo{
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.RightSideBlogContent{
    border: 2px solid;
    padding: 10px;
}
.SearchField{
    border: 2px solid red;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.SearchField input{
    width: 311px;
    height: 58px;
    border-radius: 15px;
    border: 2px solid gray;
    padding-left: 20px;
    font-size: 20px;
}
.SearchField button{
    position: absolute;
    margin-left: 270px;
    border: none;
}
.RightSideBlogCategories{
    border: 2px solid red;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 50px;
    padding: 30px;
}
.RightSideBlogCategorie{
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 16px;
}
.RightSideBlogRecentPosts{
    border: 2px solid red;
    width: 393px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.RightSideBlogRecentPost{
    border: 2px solid green;
    display: flex;
    gap: 1rem;
}
.RightSideBlogRecentPostInfo h2{
    font-size: 14px;
    font-weight: normal;
}
.RightSideBlogRecentPostInfo p{
    font-size: 12px;
    color: gray;
}

@media (min-width: 380px) and (max-width: 480px) {
.BlogContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    /* display: none; */
}
.LeftSideBlogContent{
 max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.LeftSideBlogContent img{
    width: 100%;
    /* max-width: var(--box-width); */
}
.LeftSideBlogContainer{
       max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.LeftSideBlogContent h2{
    font-size: var(--title-xl);
}
.BlogContentInfoDescription{
    font-size: var(--title-sm);
}
.LeftSideBlogContent button{
        max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.LeftSideBlogContentInfo{
    gap: 0;
    justify-content: space-between;
}
.RightSideBlogContent{
    display: none;
}
}



/* ---------- Планшеты 481–768px ---------- */
@media (min-width: 481px) and (max-width: 768px) {
.BlogContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    /* display: none; */
}
.LeftSideBlogContent{
 max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.LeftSideBlogContent img{
    width: 100%;
    /* max-width: var(--box-width); */
}
.LeftSideBlogContainer{
       max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.LeftSideBlogContent h2{
    font-size: var(--title-xl);
}
.BlogContentInfoDescription{
    font-size: var(--title-sm);
}
.LeftSideBlogContent button{
        max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.LeftSideBlogContentInfo{
    gap: 0;
    justify-content: space-between;
}
.RightSideBlogContent{
    display: none;
}
}



/* ---------- Ноутбуки 769–1280px ---------- */
@media (min-width: 769px) and (max-width: 1280px) {
.BlogContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    /* display: none; */
}
.LeftSideBlogContent{
 max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.LeftSideBlogContent img{
    width: 100%;
    /* max-width: var(--box-width); */
}
.LeftSideBlogContainer{
       max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.LeftSideBlogContent h2{
    font-size: var(--title-xl);
}
.BlogContentInfoDescription{
    font-size: var(--title-sm);
}
.LeftSideBlogContent button{
        max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.LeftSideBlogContentInfo{
    gap: 0;
    justify-content: space-between;
}
.RightSideBlogContent{
    display: none;
}
}


/* ---------- Большие ноуты до 1440px ---------- */
@media (min-width: 1281px) and (max-width: 1440px) {
.BlogContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    /* display: none; */
}
.LeftSideBlogContent{
 max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.LeftSideBlogContent img{
    width: 100%;
    /* max-width: var(--box-width); */
}
.LeftSideBlogContainer{
       max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.LeftSideBlogContent h2{
    font-size: var(--title-xl);
}
.BlogContentInfoDescription{
    font-size: var(--title-sm);
}
.LeftSideBlogContent button{
        max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.LeftSideBlogContentInfo{
    gap: 0;
    justify-content: space-between;
}
.RightSideBlogContent{
    display: none;
}
}