.myTable {
  width: 100%;
  border-collapse: collapse;
  min-width: 500px; /* чтобы таблица не сжималась слишком сильно */
}

.myTable th,
.myTable td {
  padding: 10px 15px;
  text-align: left; 
}

.myTable input {
  text-align: center;
  width: 32px;
  height: 32px;
}
.myTable img{
  width: 108px;
}

@media (min-width: 380px) and (max-width: 480px) {
.myTableWrapper {
    width: 370px;
    margin: auto;
    height: auto;
    overflow-x: auto;
}
}



/* ---------- Планшеты 481–768px ---------- */
@media (min-width: 481px) and (max-width: 768px) {
.myTableWrapper {
    width: 450px;
    margin: auto;
    height: auto;
    overflow-x: auto;
}
}



/* ---------- Ноутбуки 769–1280px ---------- */
@media (min-width: 769px) and (max-width: 1280px) {
.myTableWrapper {
    width: 400px;
    margin: auto;
    height: auto;
    overflow-x: auto;
}
}


/* ---------- Большие ноуты до 1440px ---------- */
@media (min-width: 1281px) and (max-width: 1440px) {
.myTableWrapper {
    width: 650px;
    margin: auto;
    height: auto;
    overflow-x: auto;
}
}