.Card{
    border: 2px solid;
    width: 285px;
    position: relative;
}
.Card img{
    /* border: 2px solid red; */
    width: 281px;
    height: 301px;
}
.Discount {
    color: #fff;
    background-color: rgb(215, 85, 85);
    position: absolute;
    top: 16px;
    right: 16px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.NewItem{
    color: #fff;
    background-color: green;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.CardDescription{
    border: 2px solid green;
}
.CardDescription h2{
    font-size: 24px !important;
    font-weight: normal !important;
    text-align: left !important;
}
.CardDescription p{
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
}
.Prices{
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid;
}
.Price {
    font-size: 20px;
}
.FixPrice{
    font-size: 16px;
    color: gray;
}
.Backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(25, 25, 25, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BackdropContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 2;
}
.BackdropContent button{
    margin: auto;
    background-color: #fff;
    color: #B88E2F;
    width: 202px;
    height: 48px;
    border: none;
}
.BackdropContent ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    color: #fff;
    font-size: 16px;
}
.BackdropContent li{
    display: flex;
    align-items: center;  
}