.CartIconBackdrop{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    width: 1440px;
    height: 100%;
    background-color: rgba(146, 146, 146, 0.5);
}
.ShopingCartContainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1440px;
    height: 100%;
}
.ShopingCart{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 30px;
}
.ShopingCartTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ShopingCartTitle h2{
    font-size: 24px;
}
.ShopingCartContent{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 100px;
    height: 450px;
    overflow: auto;
}
.ShopingCartSubtotal{
    display: flex;
    justify-content: space-between;
}
.ShopingCartSubtotal h2{
    font-size: 16px;
    font-weight: normal;
}
.ShopingCartSubtotal input{
    font-size: 16px;
    font-weight: bold;
    color: #B88E2F;
}
.ShopingCartNav{
    display: flex;
    justify-content: space-between;
}
.MyCartIconBackdropLink{
    border: 2px solid gray;
    border-radius: 15px;
    /* width: 87px;
    height: 30px; */
    font-size: 12px;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
}

@media (min-width: 380px) and (max-width: 480px) {
.CartIconBackdrop{
    width: 100%;
    max-width: var(--container-width);
    height: 100%;
}
.ShopingCartContainer{
width: 100%;
    max-width: var(--container-width);
    height: 100%;
}
.ShopingCart{
    max-width: var(--container-width);
    gap: 1rem;
    padding: 15px;
}
.ShopingCartContent{
    margin-bottom: 50px;
}
}



/* ---------- Планшеты 481–768px ---------- */
@media (min-width: 481px) and (max-width: 768px) {
.CartIconBackdrop{
    width: 100%;
    max-width: var(--container-width);
    height: 100%;
}
.ShopingCartContainer{
width: 100%;
    max-width: var(--container-width);
    height: 100%;
}
.ShopingCart{
    max-width: var(--container-width);
    gap: 1rem;
    padding: 15px;
}
.ShopingCartContent{
    margin-bottom: 50px;
}
}



/* ---------- Ноутбуки 769–1280px ---------- */
@media (min-width: 769px) and (max-width: 1280px) {
.CartIconBackdrop{
    width: 100%;
    max-width: var(--container-width);
    height: 100%;
}
.ShopingCartContainer{
width: 100%;
    max-width: var(--container-width);
    height: 100%;
}
.ShopingCart{
    max-width: var(--container-width);
    gap: 1rem;
    padding: 15px;
}
.ShopingCartContent{
    margin-bottom: 50px;
}
}


/* ---------- Большие ноуты до 1440px ---------- */
@media (min-width: 1281px) and (max-width: 1440px) {
.CartIconBackdrop{
    width: 100%;
    max-width: var(--container-width);
    height: 100%;
}
.ShopingCartContainer{
width: 100%;
    max-width: var(--container-width);
    height: 100%;
}
.ShopingCart{
    max-width: var(--container-width);
    gap: 1rem;
    padding: 15px;
}
.ShopingCartContent{
    margin-bottom: 50px;
}
}