.CartContainer{
    border: 2px solid;
    width: 1440px;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.CartCardsContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.CartContent{
    border: 2px solid red;
    width: 393px;
    height: 390px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.CartContent h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}
.CartContent h3{
    font-size: 16px;
}
.CartContentSubtotal,
.CartContentTotal
{
    display: flex;
    gap: 2rem;
}
.CartContentSubtotal p{
    font-size: 16px;
    color: gray;
}
.CartContentTotal p{
    font-size: 20px;
    font-weight: bold;
    color: #B88E2F;
    margin-bottom: 20px;
}
#CheckOutBtn{
    width: 222px;
    height: 58px;
    border-radius: 15px;
}