.CartContainer{
    width: 1440px;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.CartCardsContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.CartContent{
    width: 393px;
    height: 390px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.CartContent h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}
.CartContent h3{
    font-size: 16px;
}
.CartContentSubtotal,
.CartContentTotal
{
    display: flex;
    gap: 2rem;
}
.CartContentSubtotal p{
    font-size: 16px;
    color: gray;
}
.CartContentTotal p{
    font-size: 20px;
    font-weight: bold;
    color: #B88E2F;
    margin-bottom: 20px;
}
#CheckOutBtn{
    width: 222px;
    height: 58px;
    border-radius: 15px;
}

@media (min-width: 380px) and (max-width: 480px) {
.CartContainer{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    padding: 0;
    flex-direction: column;
}
.CartCardsContainer{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    gap: 1rem;
}
.CartContent{
    max-width: var(--container-width);
    width: 100%;
    height: fit-content;
}
.CartContent h2{
font-size: var(--title-xl);
}
.CartContent h3{
font-size: var(--title-base);
}
.CartContentSubtotal p{
font-size: var(--title-base);
}
.CartContentTotal p{
font-size: var(--title-md);
}
#CheckOutBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}

}



/* ---------- Планшеты 481–768px ---------- */
@media (min-width: 481px) and (max-width: 768px) {
.CartContainer{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    padding: 10px;
    flex-direction: column;
}
.CartCardsContainer{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    gap: 1rem;
}
.CartContent{
    max-width: var(--container-width);
    width: 100%;
    height: fit-content;
}
.CartContent h2{
font-size: var(--title-xl);
}
.CartContent h3{
font-size: var(--title-base);
}
.CartContentSubtotal p{
font-size: var(--title-base);
}
.CartContentTotal p{
font-size: var(--title-md);
}
#CheckOutBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
}



/* ---------- Ноутбуки 769–1280px ---------- */
@media (min-width: 769px) and (max-width: 1280px) {
.CartContainer{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    padding: 10px;
    /* flex-direction: column; */
}
.CartCardsContainer{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    gap: 1rem;
}
.CartContent{
    max-width: var(--container-width);
    width: 100%;
    height: fit-content;
}
.CartContent h2{
font-size: var(--title-xl);
}
.CartContent h3{
font-size: var(--title-base);
}
.CartContentSubtotal p{
font-size: var(--title-base);
}
.CartContentTotal p{
font-size: var(--title-md);
}
#CheckOutBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
}


/* ---------- Большие ноуты до 1440px ---------- */
@media (min-width: 1281px) and (max-width: 1440px) {
.CartContainer{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    padding: 10px;
    /* flex-direction: column; */
}
.CartCardsContainer{
    max-width: var(--container-width);
    width: 100%;
    height: fit-content;
    gap: 1rem;
}
.CartContent{
    max-width: var(--container-width);
    width: 100%;
    height: fit-content;
}
.CartContent h2{
font-size: var(--title-xl);
}
.CartContent h3{
font-size: var(--title-base);
}
.CartContentSubtotal p{
font-size: var(--title-base);
}
.CartContentTotal p{
font-size: var(--title-md);
}
#CheckOutBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
}