.CheckoutContainer{
    border: 2px solid;
    width: 1440px;
    display: flex;
    justify-content: center;
}
.LeftSideCheckoutContent,
.RightSideCheckoutContent{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 3rem;
}
.LeftSideCheckoutContent h2{
    font-size: 36px;
}
.LeftSideCheckoutContent input{
    width: 100%;
    height: 75px;
    border-radius: 15px;
    padding: 20px;
    font-size: 16px;
    margin-top: 20px;
    border: 2px  solid;
}
.NameLastName{
    border: 2px solid;
    display: flex;
    gap: 2rem;
}
.FirstName,
.LastName{
    width: 212px;
}
.RightSideCheckoutContent{
    width: 608px;
    margin-left: 30px;
    gap: 1rem;
}
.RightSideCheckoutInfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.RightSideCheckoutInfo label{
    color: gray;
}
.RightSideCheckoutInfo input{
    margin-right: 10px;
}
.RightSideCheckoutInfo label:has(input[type="radio"]:checked){
    color: #000;
}
.RightSideCheckoutInfo span{
    font-weight: bold;
}
#PlaceOrder{
    width: 318px;
    height: 64px;
    border-radius: 15px;
    font-size: 20px;
    margin-inline: auto;
}

@media (min-width: 380px) and (max-width: 480px) {
.CheckoutContainer{
max-width: var(--container-width);
    width: 100%;
    height: auto;
    flex-direction: column;
}
.LeftSideCheckoutContent,
.RightSideCheckoutContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 2rem;
}
.LeftSideCheckoutContent h2{
    font-size: var(--title-xl);
}
.LeftSideCheckoutContent input{
    width: 100%;
    height: 55px;
    font-size: var(--title-base);
}
.NameLastName{
    gap: 1rem;
}
.FirstName,
.LastName{
        width: 100%;
    max-width: var(--box-width);
    height: auto;
}
.RightSideCheckoutContent{
    margin-left: 0;
}
.RightSideCheckoutInfo{
        max-width: var(--container-width);
    width: 100%;
    height: auto;
}
#PlaceOrder{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
}



/* ---------- Планшеты 481–768px ---------- */
@media (min-width: 481px) and (max-width: 768px) {
.CheckoutContainer{
max-width: var(--container-width);
    width: 100%;
    height: auto;
    flex-direction: column;
}
.LeftSideCheckoutContent,
.RightSideCheckoutContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 2rem;
}
.LeftSideCheckoutContent h2{
    font-size: var(--title-xl);
}
.LeftSideCheckoutContent input{
    width: 100%;
    height: 55px;
    font-size: var(--title-base);
}
.NameLastName{
    gap: 1rem;
}
.FirstName,
.LastName{
        width: 100%;
    max-width: var(--box-width);
    height: auto;
}
.RightSideCheckoutContent{
    margin-left: 0;
}
.RightSideCheckoutInfo{
        max-width: var(--container-width);
    width: 100%;
    height: auto;
}
#PlaceOrder{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
}



/* ---------- Ноутбуки 769–1280px ---------- */
@media (min-width: 769px) and (max-width: 1280px) {
.CheckoutContainer{
max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.LeftSideCheckoutContent,
.RightSideCheckoutContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 2rem;
}
.LeftSideCheckoutContent h2{
    font-size: var(--title-xl);
}
.LeftSideCheckoutContent input{
    width: 100%;
    height: 55px;
    font-size: var(--title-base);
}
.NameLastName{
    gap: 1rem;
}
.FirstName,
.LastName{
        width: 100%;
    max-width: var(--box-width);
    height: auto;
}
.RightSideCheckoutContent{
    margin-left: 0;
}
.RightSideCheckoutInfo{
        max-width: var(--container-width);
    width: 100%;
    height: auto;
}
#PlaceOrder{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
}


/* ---------- Большие ноуты до 1440px ---------- */
@media (min-width: 1281px) and (max-width: 1440px) {
.CheckoutContainer{
max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.LeftSideCheckoutContent,
.RightSideCheckoutContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 2rem;
}
.LeftSideCheckoutContent h2{
    font-size: var(--title-xl);
}
.LeftSideCheckoutContent input{
    width: 100%;
    height: 55px;
    font-size: var(--title-base);
}
.NameLastName{
    gap: 1rem;
}
.FirstName,
.LastName{
    width: 100%;
    max-width: var(--box-width);
    height: auto;
}
.RightSideCheckoutContent{
    margin-left: 0;
}
.RightSideCheckoutInfo{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
#PlaceOrder{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
}