.ContactMainContainer{
    border: 2px solid red;
    width: 1020px;
}
.ContactMainContainerHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 30px;
}
.ContactMainContainerHeading h2{
    font-size: 36px;
    font-weight: bold;
}
.ContactMainContainerHeading p{
    width: 644px;
    text-align: center;
    font-size: 16px;
    color: gray;
}
.ContactMainContent{
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
}
.ContactMainLeftContent,
.ContactMainRightContent{
    border: 2px solid;
    display: flex;
    padding: 30px;
    /* justify-content: center; */
    flex-direction: column;
    gap: 3rem;
}
.ContactContent{
    display: flex;
    gap: 2rem;
}
.ContactInfo{
    width: 212px;
}
.ContactInfo h2{
    font-size: 24px;
    font-weight: 400;
}
.ContactInfo p{
    font-size: 16px;
}
.ContactMainRightContent{
    width: 635px;
}
.ContactMainRightContent input{
    width: 100%;
    height: 75px;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid;
}
#SubmitBtn{
    width: 237px;
    height: 55px;
    border: none;
    border-radius: 15px;
    background-color: #B88E2F;
    color: #fff;
    font-size: 16px;
}

@media (min-width: 380px) and (max-width: 480px) {
.ContactMainContainer{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.ContactMainContainerHeading{
    gap: 0;
}
.ContactMainContainerHeading h2{
    font-size: var(--title-xl);
}
.ContactMainContainerHeading p{
    width: 100%;
    max-width: var(--box-width);
    height: auto;
}
.ContactMainContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    flex-direction: column;
}
.ContactMainLeftContent,
.ContactMainRightContent{
    border: 2px solid;
    display: flex;
    padding: 30px;
    /* justify-content: center; */
    flex-direction: column;
    gap: 3rem;
}
.ContactContent{
    display: flex;
    gap: 1rem;
}
.ContactInfo{
    width: 100%;
    max-width: var(--box-width);
    height: auto;
}
.ContactInfo h2{
    font-size: var(--title-lg);
}
.ContactInfo p{
    font-size: var(--title-base);
}
.ContactMainRightContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.ContactMainRightContent input{
    width: 100%;
    height: 55px;
    font-size: var(--title-base);
}
#SubmitBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
}



/* ---------- Планшеты 481–768px ---------- */
@media (min-width: 481px) and (max-width: 768px) {
.ContactMainContainer{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.ContactMainContainerHeading{
    gap: 0;
}
.ContactMainContainerHeading h2{
    font-size: var(--title-xl);
}
.ContactMainContainerHeading p{
    width: 100%;
    max-width: var(--box-width);
    height: auto;
}
.ContactMainContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    flex-direction: column;
}
.ContactMainLeftContent,
.ContactMainRightContent{
    border: 2px solid;
    display: flex;
    padding: 30px;
    /* justify-content: center; */
    flex-direction: column;
    gap: 3rem;
}
.ContactContent{
    display: flex;
    gap: 1rem;
}
.ContactInfo{
    width: 100%;
    max-width: var(--box-width);
    height: auto;
}
.ContactInfo h2{
    font-size: var(--title-lg);
}
.ContactInfo p{
    font-size: var(--title-base);
}
.ContactMainRightContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.ContactMainRightContent input{
    width: 100%;
    height: 55px;
    font-size: var(--title-base);
}
#SubmitBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
}



/* ---------- Ноутбуки 769–1280px ---------- */
@media (min-width: 769px) and (max-width: 1280px) {
.ContactMainContainer{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.ContactMainContainerHeading{
    gap: 0;
}
.ContactMainContainerHeading h2{
    font-size: var(--title-xl);
}
.ContactMainContainerHeading p{
    width: 100%;
    max-width: var(--box-width);
    height: auto;
}
.ContactMainContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    flex-direction: column;
}
.ContactMainLeftContent,
.ContactMainRightContent{
    border: 2px solid;
    display: flex;
    padding: 30px;
    /* justify-content: center; */
    flex-direction: column;
    gap: 3rem;
}
.ContactContent{
    display: flex;
    gap: 1rem;
}
.ContactInfo{
    width: 100%;
    max-width: var(--box-width);
    height: auto;
}
.ContactInfo h2{
    font-size: var(--title-lg);
}
.ContactInfo p{
    font-size: var(--title-base);
}
.ContactMainRightContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.ContactMainRightContent input{
    width: 100%;
    height: 55px;
    font-size: var(--title-base);
}
#SubmitBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
}


/* ---------- Большие ноуты до 1440px ---------- */
@media (min-width: 1281px) and (max-width: 1440px) {

}