.Footer {
    border: 2px solid;
    width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Footer h2{
    margin-bottom: 50px;
    font-size: 16px;
    color: gray;
}
.FooterContent{
    border: 2px solid red;
    margin-bottom: 50px;
    width: 1113px;
    height: 312px;
    display: flex;
     justify-content: space-between;
}
.FooterInfo{
    border: 2px solid yellow;
}
.FooterInfo h2{
    color: #000;
    font-size: 24px;
}
.FooterNav{
    width: 352px;
    border: 2px solid green;
    display: flex;
    gap: 3rem;
}
.FooterNavSect1,
.FooterNavSect2{
    display: flex;
    flex-direction: column;
}
.FooterNav a{
    list-style: none;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}
.MyFooterLink{
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.FooterComent {
    border: 2px solid blue;
    width: 286px;
}
.FooterComent input,
.FooterComent button{
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid;
}
.FooterComent button{
    margin-left: 20px;
    font-weight: bold;
}
.Qualiification{
    border: 2px solid;
    width: 100%;
    height: 59px;
}

/* 1. Маленькие телефоны */
@media (min-width: 380px) and (max-width: 480px) {
    .Footer {
      width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.Footer h2{
   font-size: var(--text-base);
}
.FooterContent{
    width: 100%;
        max-width: var(--container-width);
        height: auto;
     flex-direction: column;
}
.FooterInfo{
    width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterInfo h2{
    font-size: var(--title-lg);
}
.FooterNav{
  width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterNavSect1,
.FooterNavSect2{
    display: flex;
    flex-direction: column;
}
.FooterNav a{
    font-size: var(--text-base);
}
.MyFooterLink{
    font-size: var(--text-base);
}
.FooterComent {
    width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterComent button{
    margin-left: 20px;
    font-weight: bold;
}
.Qualiification{
     width: 100%;
        max-width: var(--container-width);
        height: auto;
}
}

/* 2. Телефоны */
@media (min-width: 481px) and (max-width: 768px) {
   .Footer {
      width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.Footer h2{
   font-size: var(--text-base);
}
.FooterContent{
    width: 100%;
        max-width: var(--container-width);
        height: auto;
     flex-direction: column;
}
.FooterInfo{
    width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterInfo h2{
    font-size: var(--title-lg);
}
.FooterNav{
  width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterNavSect1,
.FooterNavSect2{
    display: flex;
    flex-direction: column;
}
.FooterNav a{
    font-size: var(--text-base);
}
.MyFooterLink{
    font-size: var(--text-base);
}
.FooterComent {
    width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterComent button{
    margin-left: 20px;
    font-weight: bold;
}
.Qualiification{
     width: 100%;
        max-width: var(--container-width);
        height: auto;
}
}

/* 3. Планшеты */
@media (min-width: 769px) and (max-width: 1024px) {
   .Footer {
      width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.Footer h2{
   font-size: var(--text-base);
}
.FooterContent{
    width: 100%;
        max-width: var(--container-width);
        height: auto;
     flex-direction: column;
}
.FooterInfo{
    width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterInfo h2{
    font-size: var(--title-lg);
}
.FooterNav{
  width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterNavSect1,
.FooterNavSect2{
    display: flex;
    flex-direction: column;
}
.FooterNav a{
    font-size: var(--text-base);
}
.MyFooterLink{
    font-size: var(--text-base);
}
.FooterComent {
    width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterComent button{
    margin-left: 20px;
    font-weight: bold;
}
.Qualiification{
     width: 100%;
        max-width: var(--container-width);
        height: auto;
}
}

/* 4. Маленькие ноуты */
@media (min-width: 1025px) and (max-width: 1280px) {
       .Footer {
      width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.Footer h2{
   font-size: var(--text-base);
}
.FooterContent{
    width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterInfo{
    width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterInfo h2{
    font-size: var(--title-lg);
}
.FooterNav{
  width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterNavSect1,
.FooterNavSect2{
    display: flex;
    flex-direction: column;
}
.FooterNav a{
    font-size: var(--text-base);
}
.MyFooterLink{
    font-size: var(--text-base);
}
.FooterComent {
    width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterComent button{
    margin-left: 20px;
    font-weight: bold;
}
.Qualiification{
     width: 100%;
        max-width: var(--container-width);
        height: auto;
}
}

/* 5. Ноуты (до твоего максимума 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {
           .Footer {
      width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.Footer h2{
   font-size: var(--text-base);
}
.FooterContent{
    width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterInfo{
    width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterInfo h2{
    font-size: var(--title-lg);
}
.FooterNav{
  width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterNavSect1,
.FooterNavSect2{
    display: flex;
    flex-direction: column;
}
.FooterNav a{
    font-size: var(--text-base);
}
.MyFooterLink{
    font-size: var(--text-base);
}
.FooterComent {
    width: 100%;
        max-width: var(--container-width);
        height: auto;
}
.FooterComent button{
    margin-left: 20px;
    font-weight: bold;
}
.Qualiification{
     width: 100%;
        max-width: var(--container-width);
        height: auto;
}
}