.FirstSectionMain{
    width: 1440px;
    height: 666px;
    padding: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
     background-image: url(./assets/pictures/scandinavian-interior-mockup-wall-decal-background\ 1.png);
}
.Box{
    background-color: #fff;
    width: 561px;
    height: 325px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#BuyBtn{
    background-color: #B88E2F;
    color: #fff;
    width: 222px;
    height: 74px;
    border: none;
    font-size: 16px;
    font-weight: bold;

}

.SecondSectionMain{
    width: 1183px;
    margin-bottom: 50px;
}
.TitleInSecondSectionMain{
    text-align: center;
    height: 76px;
    margin-bottom: 20px;
}
.TitleInSecondSectionMain h2{
font-size: 32px;
font-weight: bold;

}
.TitleInSecondSectionMain p{
font-size: 20px;
font-weight: lighter;
}
.Presentation{
    display: flex;
    gap: 1rem;
}
.Presentation figcaption{
    text-align: center;
    font-size: 24px;
}
.Presentation img{
    width: 381px;
    height: 480px;
    margin-bottom: 20px;
}
.ThirdSectionMain {
    width: 1236px;
    margin-bottom: 50px;
}
.ThirdSectionMain h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.Shelf{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#ShowMoreBtn{
    border: 1px solid #B88E2F;
    color: #B88E2F;
    width: 245px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: auto;
}

.FourthSectionMain{
    width: 1440px;
    height: 670px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.FourthSectionInfo{
    display: flex;
    flex-direction: column;
}
.FourthSectionInfo h2{
    font-size: 40px;
    font-weight: bold;
    width: 345px;
}
.FourthSectionInfo button{
    font-size: 16px;
    width: 144px;
    height: 60px;
    background-color: #B88E2F;
    color: #fff;
    border: none;
}
.FourthSectionContentContainer{
    display: flex;
}
.FourthSectionContent{
    background-image: url(./assets/pictures/FourthSectionContentBgImg.png);
    width: 330px;
    height: 582px;
    padding: 30px;
    display: flex;
}
.FourthSectionContent button{
    background-color: #B88E2F;
    border: none;
    width: 39px;
    height: 48px;
    margin-top: auto;
}
.FourthSectionContainer{
    background-color: #fff;
    width: 177px;
    height: 130px;
    margin-top: auto;
}
.FourthSectionContainer h3{
    font-size: 32px;
    font-weight: 400;
}
.FourthSectionContainer p{
    text-align: center;
}

.FifthSectionMain{
    width: 1440px;
}
.FifthSectionMain p{
    text-align: center;
    font-size: 20px;
}
.FifthSectionMain h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.Gallery{
    display: flex;
    justify-content: space-between;
}
.LeftSide, .Midle, .RightSide{
    margin: auto;
}
.LeftSide{
    width: 600px;
}
.Midle{
    width: 240px;
}
.RightSide{
    width: 600px;
}
.LeftSideImg1{
    width: 219px;
    height: 382px;
}
.LeftSideImg2{
    width: 361px;
    height: 312px;
}
.LeftSideImg3{
    width: 250px;
    height: 323px;
}
.LeftSideImg4{
    width: 220px;
    height: 242px;
}

.Midle img{
    width: 236px;
    height: 392px;
}

.RightSideImg1{
    width: 232px;
    height: 348px;
}
.RightSideImg2{
    width: 340px;
    height: 433px;
}
.RightSideImg3{
    width: 142px;
    height: 242px;
}
.RightSideImg4{
    width: 206px;
    height: 196px;
}

/* 1. Маленькие телефоны */
@media (min-width: 380px) and (max-width: 480px) {
    .FirstSectionMain{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    }
    .Box{
    width: 100%;
    max-width: var(--box-width);
    height: auto;
    gap: 1rem;
}
#BuyBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}

.SecondSectionMain{
    width: 100%;
    max-width: var(--container-width);
    height: auto;
}
.TitleInSecondSectionMain{
    height: auto;
}
.TitleInSecondSectionMain h2{
    font-size: var(--title-lg);

}
.TitleInSecondSectionMain p{
    font-size: var(--text-base);
}
.Presentation{
    display: flex;
    justify-content: space-between;
}
.Presentation figcaption{
    font-size: var(--text-base);
}
.Presentation img{
    width:  100%;
    max-width: var(--img-width);
    height: auto;
}
.ThirdSectionMain {
    width: 100%;
    max-width: var(--container-width);
}
.ThirdSectionMain h2{
    font-size: var(--title-lg);
}
.Shelf{
    width: 100%;
    max-width: var(--container-width);
    justify-content: center !important;
}
#ShowMoreBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}

.FourthSectionMain{
    width: 100%;
    max-width: var(--container-width);
    height: auto;
    justify-content: space-between;
    gap: 0;
}
.FourthSectionInfo{
    width: 50%;
}
.FourthSectionInfo h2{
    font-size: var(--title-xl);
    width: 100%;
    height: auto;
}
.FourthSectionInfo button{
    max-width: var(--btn-width);
    height: 100%;
    font-size: var(--btn-font);
}
.FourthSectionContentContainer{
    display: flex;
    width: 60%;
}
.FourthSectionContent{
    width: 100%;
    height: auto;
    padding: 30px;
}
.FourthSectionContent button{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.FourthSectionContainer{
    background-color: #fff;
    width: 100%;
    height: auto;
}
.FourthSectionContainer h3{
    font-size: var(--title-xl);
}
.FourthSectionContainer p{
    font-size: var(--text-base);
}

.FifthSectionMain{
    display: none;
}
 }
/* 2. Телефоны */
@media (min-width: 481px) and (max-width: 768px) {
    .FirstSectionMain{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    }
    .Box{
    width: 100%;
    max-width: var(--box-width);
    height: auto;
    gap: 1rem;
}
#BuyBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}

.SecondSectionMain{
    width: 100%;
    max-width: var(--container-width);
    height: auto;
}
.TitleInSecondSectionMain{
    height: auto;
}
.TitleInSecondSectionMain h2{
    font-size: var(--title-lg);

}
.TitleInSecondSectionMain p{
    font-size: var(--text-base);
}
.Presentation{
    display: flex;
    justify-content: space-between;
}
.Presentation figcaption{
    font-size: var(--text-base);
}
.Presentation img{
    width:  100%;
    max-width: var(--img-width);
    height: auto;
}
.ThirdSectionMain {
    width: 100%;
    max-width: var(--container-width);
}
.ThirdSectionMain h2{
    font-size: var(--title-lg);
}
.Shelf{
    width: 100%;
    max-width: var(--container-width);
    justify-content: center !important;
}
#ShowMoreBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}

.FourthSectionMain{
    width: 100%;
    max-width: var(--container-width);
    height: auto;
    justify-content: space-between;
    gap: 0;
}
.FourthSectionInfo{
    width: 50%;
}
.FourthSectionInfo h2{
    font-size: var(--title-xl);
    width: 100%;
    height: auto;
}
.FourthSectionInfo button{
    max-width: var(--btn-width);
    height: 100%;
    font-size: var(--btn-font);
}
.FourthSectionContentContainer{
    display: flex;
    width: 60%;
}
.FourthSectionContent{
    width: 100%;
    height: auto;
    padding: 30px;
}
.FourthSectionContent button{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.FourthSectionContainer{
    background-color: #fff;
    width: 100%;
    height: auto;
}
.FourthSectionContainer h3{
    font-size: var(--title-xl);
}
.FourthSectionContainer p{
    font-size: var(--text-base);
}

.FifthSectionMain{
    display: none;
}
}

/* 3. Планшеты */
@media (min-width: 769px) and (max-width: 1024px) {
    .FirstSectionMain{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    }
    .Box{
    width: 100%;
    max-width: var(--box-width);
    height: auto;
    gap: 1rem;
}
#BuyBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}

.SecondSectionMain{
    width: 100%;
    max-width: var(--container-width);
    height: auto;
}
.TitleInSecondSectionMain{
    height: auto;
}
.TitleInSecondSectionMain h2{
    font-size: var(--title-lg);

}
.TitleInSecondSectionMain p{
    font-size: var(--text-base);
}
.Presentation{
    display: flex;
    justify-content: space-between;
}
.Presentation figcaption{
    font-size: var(--text-base);
}
.Presentation img{
    width:  100%;
    max-width: var(--img-width);
    height: auto;
}
.ThirdSectionMain {
    width: 100%;
    max-width: var(--container-width);
}
.ThirdSectionMain h2{
    font-size: var(--title-lg);
}
.Shelf{
    width: 100%;
    max-width: var(--container-width);
}
#ShowMoreBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}

.FourthSectionMain{
    width: 100%;
    max-width: var(--container-width);
    height: auto;
    justify-content: space-between;
    gap: 0;
}
.FourthSectionInfo{
    width: 50%;
}
.FourthSectionInfo h2{
    font-size: var(--title-xl);
    width: 100%;
    height: auto;
}
.FourthSectionInfo button{
    max-width: var(--btn-width);
    height: 100%;
    font-size: var(--btn-font);
}
.FourthSectionContentContainer{
    display: flex;
    width: 60%;
}
.FourthSectionContent{
    width: 100%;
    height: auto;
    padding: 30px;
}
.FourthSectionContent button{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.FourthSectionContainer{
    background-color: #fff;
    width: 100%;
    height: auto;
}
.FourthSectionContainer h3{
    font-size: var(--title-xl);
}
.FourthSectionContainer p{
    font-size: var(--text-base);
}

.FifthSectionMain{
    display: none;
}
}

/* 4. Маленькие ноуты */
@media (min-width: 1025px) and (max-width: 1280px) {
    .FirstSectionMain{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    }
    .Box{
    width: 100%;
    max-width: var(--box-width);
    height: auto;
    gap: 1rem;
}
#BuyBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}

.SecondSectionMain{
    width: 100%;
    max-width: var(--container-width);
    height: auto;
}
.TitleInSecondSectionMain{
    height: auto;
}
.TitleInSecondSectionMain h2{
    font-size: var(--title-lg);

}
.TitleInSecondSectionMain p{
    font-size: var(--text-base);
}
.Presentation{
    display: flex;
    justify-content: space-between;
}
.Presentation figcaption{
    font-size: var(--text-base);
}
.Presentation img{
    width:  100%;
    max-width: var(--img-width);
    height: auto;
}
.ThirdSectionMain {
    width: 100%;
    max-width: var(--container-width);
}
.ThirdSectionMain h2{
    font-size: var(--title-lg);
}
.Shelf{
    width: 100%;
    max-width: var(--container-width);
}
#ShowMoreBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}

.FourthSectionMain{
    width: 100%;
    max-width: var(--container-width);
    height: auto;
    justify-content: space-between;
    gap: 0;
}
.FourthSectionInfo{
    width: 30%;
    display: none;
}
.FourthSectionInfo h2{
    font-size: var(--title-xl);
    width: 100%;
    height: auto;
}
.FourthSectionInfo button{
    max-width: var(--btn-width);
    height: 100%;
    font-size: var(--btn-font);
}
.FourthSectionContentContainer{
    display: flex;
    width: 100%;
}
.FourthSectionContent{
    width: 100%;
    height: auto;
    padding: 30px;
}
.FourthSectionContent button{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.FourthSectionContainer{
    background-color: #fff;
    /* width: 100%; */
    height: auto;
}
.FourthSectionContainer h3{
    font-size: var(--title-xl);
}
.FourthSectionContainer p{
    font-size: var(--text-base);
}

.FifthSectionMain{
    display: none;
}
}

/* 5. Ноуты (до твоего максимума 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {
         .FirstSectionMain{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    }
    .Box{
    width: 100%;
    max-width: var(--box-width);
    height: auto;
    gap: 1rem;
}
#BuyBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}

.SecondSectionMain{
    width: 100%;
    max-width: var(--container-width);
    height: auto;
}
.TitleInSecondSectionMain{
    height: auto;
}
.TitleInSecondSectionMain h2{
    font-size: var(--title-lg);

}
.TitleInSecondSectionMain p{
    font-size: var(--text-base);
}
.Presentation{
    display: flex;
    justify-content: space-between;
}
.Presentation figcaption{
    font-size: var(--text-base);
}
.Presentation img{
    width:  100%;
    max-width: var(--img-width);
    height: auto;
}
.ThirdSectionMain {
    width: 100%;
    max-width: var(--container-width);
}
.ThirdSectionMain h2{
    font-size: var(--title-lg);
}
.Shelf{
    width: 100%;
    max-width: var(--container-width);
}
#ShowMoreBtn{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}

.FourthSectionMain{
    width: 100%;
    max-width: var(--container-width);
    height: auto;
    justify-content: space-between;
    gap: 0;
}
.FourthSectionInfo{
    width: 30%;
    display: none;
}
.FourthSectionInfo h2{
    font-size: var(--title-xl);
    width: 100%;
    height: auto;
}
.FourthSectionInfo button{
    max-width: var(--btn-width);
    height: 100%;
    font-size: var(--btn-font);
}
.FourthSectionContentContainer{
    display: flex;
    width: 100%;
}
.FourthSectionContent{
    width: 100%;
    height: auto;
    padding: 30px;
}
.FourthSectionContent button{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.FourthSectionContainer{
    background-color: #fff;
    /* width: 100%; */
    height: auto;
}
.FourthSectionContainer h3{
    font-size: var(--title-xl);
}
.FourthSectionContainer p{
    font-size: var(--text-base);
}

.FifthSectionMain{
    display: none;
}
}