@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
    border: 2px solid red;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main{
    border: 2px solid blue;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Shelf{
    border: 2px solid yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1232px;
    gap: 20px;
}