.MainCover{
    border: 2px solid;
    width: 1440px;
    height: 316px;
    background-image: url(./assets/pictures/ShopMainCoverImg.png);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.MainCover h2{
    font-size: 48px;
    font-weight: 500;
}
.MainCoverNav{
    display: flex;
    gap: 5px;
}
.MainCoverNav a{
    font-size: 16px;
}
.MainContetn{
    border: 2px solid;
    width: 1236px;
    margin-bottom: 50px;
}

@media (min-width: 380px) and (max-width: 480px) {
.MainCover{
display: none;
}
}



/* ---------- Планшеты 481–768px ---------- */
@media (min-width: 481px) and (max-width: 768px) {
.MainCover{
display: none;
}
}



/* ---------- Ноутбуки 769–1280px ---------- */
@media (min-width: 769px) and (max-width: 1280px) {
.MainCover{
display: none;
}
}


/* ---------- Большие ноуты до 1440px ---------- */
@media (min-width: 1281px) and (max-width: 1440px) {
.MainCover{
display: none;
}
}