.ProductComarisonContainer{
    width: 1440px;
}

@media (min-width: 380px) and (max-width: 480px) {
.ProductComarisonContainer{
    max-width: var(--box-width);
    width: 100%;
    height: auto;
    /* overflow-y: auto; */
    overflow-x: auto;
}
}



/* ---------- Планшеты 481–768px ---------- */
@media (min-width: 481px) and (max-width: 768px) {

}



/* ---------- Ноутбуки 769–1280px ---------- */
@media (min-width: 769px) and (max-width: 1280px) {

}


/* ---------- Большие ноуты до 1440px ---------- */
@media (min-width: 1281px) and (max-width: 1440px) {

}