table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    /* border: 2px solid green; */
  }


  th, td {
    padding: 10px 15px;
    /* border: 2px solid red; */
  }

  tbody th {
    /* border: 2px solid; */
    width: 25%;
    font-weight: normal;
  }
  .TableTitle{
    /* font-weight: bold; */
    font-size: 28px;
  }

  tbody td {
    width: 35%;
    /* border: 2px solid red; */
  }
.AddToCartBtn{
    width: 215px;
    height: 64px;
    border: none;
    color: #fff;
    background-color: #B88E2F;
}
.Rating{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.ProductComarisonContainerAddProduct{
    /* border: 2px solid red; */
    width: 200px;
}
.ProductComarisonContainerAddProduct h2{
    font-size: 24px;
    font-weight: normal;
}
.ProductComarisonContainerAddProduct button{
    width: 100%;
    height: 39px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #B88E2F;
}
.ProductComarisonContainerTitle h2{
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 15px;
}
.ProductComarisonContainerTitle button{
    font-size: 20px;
    border: none;
    border-bottom: 2px solid gray;
    color: gray;
}
.Rating p{
    color: gray;
}
.Space{
    /* border: 2px solid; */
    padding: 50px;
}