.ProductComarisonContainer{
    width: 1440px;
}

@media (min-width: 380px) and (max-width: 480px) {
.ProductComarisonContainer{
    width: 375px;
    margin: auto;
    height: auto;
    overflow-x: auto;
}
}



/* ---------- Планшеты 481–768px ---------- */
@media (min-width: 481px) and (max-width: 768px) {
.ProductComarisonContainer{
    width: 475px;
    margin: auto;
    height: auto;
    overflow-x: auto;
}
}



/* ---------- Ноутбуки 769–1280px ---------- */
@media (min-width: 769px) and (max-width: 1280px) {
.ProductComarisonContainer{
    width: 765px;
    margin: auto;
    height: auto;
    overflow-x: auto;
}
}


/* ---------- Большие ноуты до 1440px ---------- */
@media (min-width: 1281px) and (max-width: 1440px) {
.ProductComarisonContainer{
    width: 1275px;
    margin: auto;
    height: auto;
    overflow-x: auto;
}
}