.ShopFilter{
    border: 2px solid;
    width: 1440px;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.RightSideFilter,
.LeftSideFilter{
    border: 2px solid;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.LeftSideFilter p{
    color: rgb(199, 199, 199);
    font-size: 36px;
}
.ShowingResults p{
    font-size: var(--title-base) !important;
}
.FilterElement{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.FilterElement p{
    color: black;
    font-size: 20px;
}
.RightSideFilter span{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1.5rem;
}
.RightSideFilter input{
    width: fit-content;
    font-size: 16px;
}
.ShopContetn{
    width: 1236px;
    border: 2px solid green;
}

@media (min-width: 380px) and (max-width: 480px) {
.ShopFilter{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.ShopContetn{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.Shelf{
    width: 100%;
    max-width: var(--container-width);
    justify-content: center !important;
}
.RightSideFilter{
    display: none;
}
.LeftSideFilter p{
    font-size: var(--title-xl);
}
.FilterElement{
    gap: 1rem;
}
.FilterElement p{
    font-size: var(--title-base);
}
}



/* ---------- Планшеты 481–768px ---------- */
@media (min-width: 481px) and (max-width: 768px) {
.ShopFilter{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.ShopContetn{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.Shelf{
    width: 100%;
    max-width: var(--container-width);
    justify-content: center !important;
}
.RightSideFilter{
    display: none;
}
.LeftSideFilter p{
    font-size: var(--title-xl);
}
.FilterElement{
    gap: 1rem;
}
.FilterElement p{
    font-size: var(--title-base);
}
}



/* ---------- Ноутбуки 769–1280px ---------- */
@media (min-width: 769px) and (max-width: 1280px) {
.ShopFilter{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.ShopContetn{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.Shelf{
    width: 100%;
    max-width: var(--container-width);
    justify-content: center !important;
}
.RightSideFilter{
    display: none;
}
.LeftSideFilter p{
    font-size: var(--title-xl);
}
.FilterElement{
    gap: 1rem;
}
.FilterElement p{
    font-size: var(--title-base);
}
}


/* ---------- Большие ноуты до 1440px ---------- */
@media (min-width: 1281px) and (max-width: 1440px) {
.ShopFilter{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.ShopContetn{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.Shelf{
    width: 100%;
    max-width: var(--container-width);
    justify-content: center !important;
}
.RightSideFilter{
    display: none;
}
.LeftSideFilter p{
    font-size: var(--title-xl);
}
.FilterElement{
    gap: 1rem;
}
.FilterElement p{
    font-size: var(--title-base);
}
}