.ShopingCartBox{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.ShopingCartBox img{
    border-radius: 15px;
    width: 114px;
}
.ShopingCartInfo h2{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}
.ShopingCartInfoPrice{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.ShopingCartInfoPrice input{
    text-align: center;
    width: 20px;
    font-size: 16px;
    color: #000;
}
.ShopingCartInfoPrice p{
    font-size: 16px;
}
.ShopingCartInfoPrice h3{
    font-size: 12px;
    color: #B88E2F;
}