.MainCover{
    border: 2px solid;
    width: 1440px;
    height: 316px;
    background-image: url(./assets/pictures/ShopMainCoverImg.png);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MainCover h2{
font-size: 48px;
font-weight: 500;
}
.MainContetn{
    border: 2px solid;
    width: 1236px;
}
.Shelf{
    border: 2px solid yellow;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}