.RelatedProducts{
    border: 2px solid;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.RelatedProducts h2{
    font-size: 36px;
    font-weight: normal;
}
.RelatedProductsShelf{
    width: 100%;
}
.SingleProductCardContainer{
    margin-bottom: 30px;
}
.Description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.DescriptionTitle{
    display: flex;
    gap: 2rem;
}
.DescriptionTitle h2{
    color: gray;
    font-weight: normal;
    font-size: 24px;
    cursor: pointer;
}
.DescriptionTitle h2:focus{
    color: #000;
}
.DescriptionContent{
    width: 1026px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.DescriptionContent p{
    font-size: 16px;
    color: gray;
}
@media (min-width: 380px) and (max-width: 480px) {
.RelatedProducts{
   display: none;
}
.RelatedProducts h2{
    font-size: 36px;
    font-weight: normal;
}
.RelatedProductsShelf{
    width: 100%;
}
.SingleProductCardContainer{
    margin-bottom: 30px;
}
.Description{
    display: none;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; */
}
.DescriptionTitle{
    display: flex;
    gap: 2rem;
}
.DescriptionTitle h2{
    color: gray;
    font-weight: normal;
    font-size: 24px;
    cursor: pointer;
}
.DescriptionTitle h2:focus{
    color: #000;
}
.DescriptionContent{
    width: 1026px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.DescriptionContent p{
    font-size: 16px;
    color: gray;
}
}



/* ---------- Планшеты 481–768px ---------- */
@media (min-width: 481px) and (max-width: 768px) {

}



/* ---------- Ноутбуки 769–1280px ---------- */
@media (min-width: 769px) and (max-width: 1280px) {

}


/* ---------- Большие ноуты до 1440px ---------- */
@media (min-width: 1281px) and (max-width: 1440px) {

}