.SingleProductCard{
    border: 2px solid red;
    width: 1440px;
}
.SingleProductCardNav{
    border: 2px solid;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 15px;
}
.SingleProductCardNav a{
    color: gray;
}

.Slash{
    color: gray;
    font-size: 18px !important;
}
.SingleProductCardContent{
    border: 2px solid green;
    display: flex;
}
.SingleProductCardLeftContent{
    border: 2px solid;
    width: 50%;
    display: flex;
    gap: 1rem;
}
.ProductImgGallery{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.SingleProductImg{
    width: 481px;
    height: 500px;
    object-fit: contain;
}

.SingleProductCardRightContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.SingleProductCardRightTitle h2{
    font-size: 42px;
    font-weight: normal;
}
.SingleProductCardRightTitle p{
    font-size: 24px;
    color: gray;
}
.SingleProductCardRightContentGrade{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.SingleProductCardRightContentGrade p{
    color: gray;
    font-size: 13px;
}
.SingleProductCardRightContentDeskription{
    width: 424px;
    font-size: 13px;
}
.SizeColor p{
    color: gray;
    margin-bottom: 10px;
}
.Size{
    margin-bottom: 15px;
}
.Size,
.Color{
    display: flex;
    gap: .5rem;
}
.Size button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.Size button:focus {
    background-color: #B88E2F;
    color: #fff;
}
.Color button{
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.Color1{
    background-color: purple;
}
.Color2{
    background-color: #000;
}
.Color3{
    background-color: #B88E2F;
}
.SingleProductCardRightContentInfo{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.SingleProductContentInfo{
    display: flex;
    gap: 1rem;
}
.SingleProductContentInfo p{
    color: gray;
    font-size: 16px;
}
.SingleProductContentInfoName{
    width: 80px;
}
.SingleProductOrder{
    display: flex;
    gap: 1rem;
}
.SingleProductOrder button{
    border: 2px solid;
    border-radius: 10px;
    width: 215px;
}
.SingleProductCounter{
    display: flex;
    justify-content: space-between;
    width: 123px;
    height: 64px;
    border-radius: 10px;
    border: 2px solid gray;
}
.SingleProductCounter input{
    text-align: center;
    width: 30px;
}
.SingleProductCounter button{
    border: none;
    width: 30%;
}