.SingleProductCard{
    border: 2px solid red;
    width: 1440px;
}
.SingleProductCardNav{
    border: 2px solid;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 15px;
}
.SingleProductCardNav a{
    color: gray;
}

.Slash{
    color: gray;
    font-size: 18px !important;
}
.SingleProductCardContent{
    border: 2px solid green;
    display: flex;
}
.SingleProductCardLeftContent{
    border: 2px solid;
    width: 50%;
    display: flex;
    gap: 1rem;
}
.ProductImgGallery{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.ProductImgGallery img{
    width: 100px;
    /* height: 100px; */
}
.SingleProductImg{
    width: 481px;
    height: 500px;
    object-fit: contain;
}

.SingleProductCardRightContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.SingleProductCardRightTitle h2{
    font-size: 42px;
    font-weight: normal;
}
.SingleProductCardRightTitle p{
    font-size: 24px;
    color: gray;
}
.SingleProductCardRightContentGrade{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.SingleProductCardRightContentGrade p{
    color: gray;
    font-size: 13px;
}
.SingleProductCardRightContentDeskription{
    width: 424px;
    font-size: 13px;
}
.SizeColor p{
    color: gray;
    margin-bottom: 10px;
}
.Size{
    margin-bottom: 15px;
}
.Size,
.Color{
    display: flex;
    gap: .5rem;
}
.Size button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.Size button:focus {
    background-color: #B88E2F;
    color: #fff;
}
.Color button{
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.Color1{
    background-color: purple;
}
.Color2{
    background-color: #000;
}
.Color3{
    background-color: #B88E2F;
}
.SingleProductCardRightContentInfo{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.SingleProductContentInfo{
    display: flex;
    gap: 1rem;
}
.SingleProductContentInfo p{
    color: gray;
    font-size: 16px;
}
.SingleProductContentInfoName{
    width: 80px;
}
.SingleProductOrder{
    display: flex;
    gap: 1rem;
}
.SingleProductOrder button{
    border: 2px solid;
    border-radius: 10px;
    width: 215px;
}
.SingleProductCounter{
    display: flex;
    justify-content: space-between;
    width: 123px;
    height: 64px;
    border-radius: 10px;
    border: 2px solid gray;
}
.SingleProductCounter input{
    text-align: center;
    width: 30px;
}
.SingleProductCounter button{
    border: none;
    width: 30%;
}
@media (min-width: 380px) and (max-width: 480px) {
.SingleProductCard{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.SingleProductCardNav{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}

.Slash{
    font-size: var(--text-base) !important;
}
.SingleProductCardContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    flex-direction: column;
}
.SingleProductCardLeftContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.ProductImgGallery{
    gap: 1rem;
}
.ProductImgGallery img{
    width: 100%;
    max-width: 100px;
}
.SingleProductImg{
    width: 70%;
    height: fit-content;
    object-fit: contain;
    bottom: auto;
}

.SingleProductCardRightContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    gap: 1.5rem;
}
.SingleProductCardRightTitle h2{
    font-size: var(--title-xl);
}
.SingleProductCardRightTitle p{
    font-size: var(--title-md);
}
.SingleProductCardRightContentGrade{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.SingleProductCardRightContentGrade p{
    font-size: var(--title-sm);
}
.SingleProductCardRightContentDeskription{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.Size,
.Color{
   max-width: var(--box-width);
    width: 100%;
    height: auto;
}
.SingleProductCardRightContentInfo{
   max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.SingleProductContentInfo p{
    font-size: var(--title-bace);
}
.SingleProductOrder{
    display: flex;
    gap: 1rem;
}
.SingleProductOrder button{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.SingleProductCounter{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.SingleProductCounter button{
    height: auto;
}
}



/* ---------- Планшеты 481–768px ---------- */
@media (min-width: 481px) and (max-width: 768px) {
.SingleProductCard{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.SingleProductCardNav{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}

.Slash{
    font-size: var(--text-base) !important;
}
.SingleProductCardContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    flex-direction: column;
}
.SingleProductCardLeftContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.ProductImgGallery{
    gap: 1rem;
}
.ProductImgGallery img{
    width: 100%;
    max-width: 100px;
}
.SingleProductImg{
    width: 60%;
    height: fit-content;
    object-fit: contain;
    bottom: auto;
}

.SingleProductCardRightContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    gap: 1.5rem;
}
.SingleProductCardRightTitle h2{
    font-size: var(--title-xl);
}
.SingleProductCardRightTitle p{
    font-size: var(--title-md);
}
.SingleProductCardRightContentGrade{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.SingleProductCardRightContentGrade p{
    font-size: var(--title-sm);
}
.SingleProductCardRightContentDeskription{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.Size,
.Color{
   max-width: var(--box-width);
    width: 100%;
    height: auto;
}
.SingleProductCardRightContentInfo{
   max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.SingleProductContentInfo p{
    font-size: var(--title-bace);
}
.SingleProductOrder{
    display: flex;
    gap: 1rem;
}
.SingleProductOrder button{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.SingleProductCounter{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.SingleProductCounter button{
    height: auto;
}
}



/* ---------- Ноутбуки 769–1280px ---------- */
@media (min-width: 769px) and (max-width: 1280px) {
.SingleProductCard{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.SingleProductCardNav{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}

.Slash{
    font-size: var(--text-base) !important;
}
.SingleProductCardContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    /* flex-direction: column; */
}
.SingleProductCardLeftContent{
    max-width: var(--container-width);
    width: 50%;
    height: auto;
}
.ProductImgGallery{
    gap: 1rem;
}
.ProductImgGallery img{
    width: 100%;
    max-width: 100px;
}
.SingleProductImg{
    width: 60%;
    height: fit-content;
    object-fit: contain;
}

.SingleProductCardRightContent{
    max-width: var(--container-width);
    width: 50%;
    height: auto;
    gap: 1.5rem;
}
.SingleProductCardRightTitle h2{
    font-size: var(--title-xl);
}
.SingleProductCardRightTitle p{
    font-size: var(--title-md);
}
.SingleProductCardRightContentGrade{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.SingleProductCardRightContentGrade p{
    font-size: var(--title-sm);
}
.SingleProductCardRightContentDeskription{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.Size,
.Color{
   max-width: var(--box-width);
    width: 100%;
    height: auto;
}
.SingleProductCardRightContentInfo{
   max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.SingleProductContentInfo p{
    font-size: var(--title-bace);
}
.SingleProductOrder{
    display: flex;
    gap: 1rem;
}
.SingleProductOrder button{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.SingleProductCounter{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.SingleProductCounter button{
    height: auto;
}
}


/* ---------- Большие ноуты до 1440px ---------- */
@media (min-width: 1281px) and (max-width: 1440px) {
.SingleProductCard{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.SingleProductCardNav{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}

.Slash{
    font-size: var(--text-base) !important;
}
.SingleProductCardContent{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
    /* flex-direction: column; */
}
.SingleProductCardLeftContent{
    max-width: var(--container-width);
    width: 50%;
    height: auto;
}
.ProductImgGallery{
    gap: 1rem;
}
.ProductImgGallery img{
    width: 100%;
    max-width: 100px;
}
.SingleProductImg{
    width: 60%;
    height: fit-content;
    object-fit: contain;
}

.SingleProductCardRightContent{
    max-width: var(--container-width);
    width: 50%;
    height: auto;
    gap: 1.5rem;
}
.SingleProductCardRightTitle h2{
    font-size: var(--title-xl);
}
.SingleProductCardRightTitle p{
    font-size: var(--title-md);
}
.SingleProductCardRightContentGrade{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.SingleProductCardRightContentGrade p{
    font-size: var(--title-sm);
}
.SingleProductCardRightContentDeskription{
    max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.Size,
.Color{
   max-width: var(--box-width);
    width: 100%;
    height: auto;
}
.SingleProductCardRightContentInfo{
   max-width: var(--container-width);
    width: 100%;
    height: auto;
}
.SingleProductContentInfo p{
    font-size: var(--title-bace);
}
.SingleProductOrder{
    display: flex;
    gap: 1rem;
}
.SingleProductOrder button{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.SingleProductCounter{
    max-width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--btn-font);
}
.SingleProductCounter button{
    height: auto;
}
}