.mySwiper {
  background: #fff;
  border: 2px solid red;
  padding: 20px;
  width: 648px;
  height: 582px;
}
.SwiperSlide{
    display: flex;
    gap: 1rem;
}
.SwiperSlide img{
    width: 304px;
    height: 486px;
    border: 2px solid;
}
.mySwiper .swiper-pagination{
  margin-left: 10px;
  width: fit-content;
}
.mySwiper .swiper-pagination-bullet {
  background: #B88E2F;
}
.mySwiper .swiper-button-prev {
  display: none;
}
.mySwiper .swiper-button-next {
  color: #B88E2F;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #fff;
  left: 0;
  right: 0;
  margin-inline: auto; 
}